@mixin flex ($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font ($fontSize, $letterSpacing, $color, $fontWeigth: 700, $lineHeigth: 25px, $fontFamily: 'Open Sans', $fontStyle: normal) {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-size: $fontSize;
    font-weight: $fontWeigth;
    line-height: $lineHeigth;
    letter-spacing: $letterSpacing;
    color: $color;
}