$purple-color: #6B63B5;
$danger-color: #8B0000;
$white-color: #FFFFFF;
$gray-color: #CCCCCC;
$gray-color-font: #999999;
$black-color: #081F32;


$Gryffindor-color_base: #ff0000;
$Slytherin-color_base: #1c792b;
$Ravenclaw-color_base: #ffc700;
$Hufflepuff-color_base: #0597b7;

$Gryffindor-color: 135deg, $Gryffindor-color_base 0%, #fed482 100%;
$Slytherin-color: 135deg, $Slytherin-color_base 0%, #82e95e 100%;
$Ravenclaw-color: 135deg, $Ravenclaw-color_base 0%, #fff388 100%;
$Hufflepuff-color: 135deg, $Hufflepuff-color_base 0%, #66d1ff 100%;
$No-house-color: 135deg, $gray-color 0%, #FFFFFF 100%;

$card-width: 224px;
$card-heigth: 336px;

$font-normal: 400;
$font-bold: 600;
$font-bolder: 700;